<div class="row m-3">
  <div class="new text-center col-md-6 offset-md-3">
    <div class="card">
      <h5 class="card-header">New Blog</h5>
      <%= render 'form', blog: @blog %>
    </div>

  </div>

</div>
