<div class="users">
  <h1>Users</h1>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-5 user-panel">
        <h4><%= user.name %></h4>
        <p><% if user.icon.attached? %>
          <%= image_tag(user.icon)  %>
        <% else %>
          <%= image_tag("noimage.png") %>
        <% end %></p>
        <div class="blog-links">
            <%= link_to 'Show', user, class: "btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
