
<div class="row mt-5">
  <div class="col-md-3">
    <%= render 'layouts/profile' %>
  </div>
  <div class="col-md-9">
    <div class="top clearfix">
      <div class="top-name">Profile</div>
      <p class="top-myname">Yuki Shimomura</p>
      <div class="top-photo">
        <%= image_tag("my.JPG") %>
      </div>
      <div class="top-info">
        <div class="top-team">
          <h5>所属</h5>
          <p>未定</p>
        </div>
        <div class="top-like">
          <h5>好きなこと</h5>
          <ul>
            <li>食べること</li>
            <li>寝ること</li>
            <li>youtuber</li>
            <li>アニメ映画ドラマ見る</li>
          </ul>
        </div>
        <div class="top-when">
          <h5>SUPER STUDIOをどこで知ったのか</h5>
          <p>いんてさんの紹介</p>
        </div>
        <div class="top-why">
          <h5>なぜプログラミングをしようと思ったのか</h5>
          タイピングが早い人に憧れていたから
        </div>

        <div class="top-aim">
          <h5>プログラミングを通してどんなところを目指すのか</h5>
          かっこいい人になりたい
        </div>

        <div class="top-people">
          <h5>１年後の姿</h5>
          もうちょっとまともな人になっていてほしい！
        </div>
      </div>
    </div>
  </div>
</div>
